@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #364f6b;
  font-family: 'Parkinsans', sans-serif;
}

body main section article {
  text-align: center;
}

body main section article p {
  background-color: blanchedalmond;
}

body main section span {
  color: azure;
  margin: 200px;
}

.logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/img/logo-proyecto.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

header nav li a {
  color: darkgoldenrod;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.acciones {
  text-align: center;
}

.acciones a {
  color: blanchedalmond;
}

.form-registro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-registro input {
  width: 300px;
  margin: 0 auto;
}

.lista-viajes {
  color: orangered;
  background-color: burlywood;
  width: 500px;
  margin: 0 auto;
}

.navbar ul li a {
  color: darkgoldenrod;
}

.col-form-label {
  color: blanchedalmond;
}

.form-control.form-control-login {
  border-radius: 5px;
  color: #3a3b45;
  font-size: 0.9rem;
  padding: 0.8rem;
  margin-bottom: 5px;
}

.login-btn {
  align-items: center;
  border-radius: 50px;
  color: #fff;
  display: flex;
  line-height: 32px;
  margin: 15px 0;
  padding: 0.4rem;
  position: relative;
}

.login-btn:hover {
  box-shadow: 0px 0px 5px #999;
  color: white;
}

.login-btn.acciones {
  background-color: blanchedalmond;
  width: 200px;
}

.btn-info {
  background-color: blanchedalmond !important;
  color: black !important;
}

.btn-info:hover {
  background-color: #364f6b !important;
}

.search-input {
  height: 40px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 21%;
  left: 25px;
  transform: translateY(-40%);
  color: #888;
}
