.logo {
  width: 150px;
  height: 75px;
  background-image: url('../assets/img/logo-proyecto.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

header {
  background-color: #364f6b;
  nav {
    li {
      a {
        color: $color-menu;
      }
    }
  }
}

.navbar {
  ul {
    li {
      a {
        color: $color-menu;
      }
    }
  }
}

.navbar-toggler-icon {
  background-color: $color-menu;
}
