.logo {
  width: 200px;
  height: 200px;
  background-image: url('../assets/img/logo-proyecto.png');
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

header {
    nav {
        li{
            a{
                color: $color-menu;
            }
        }
    }
}

.navbar {
  ul {
    li {
      a {
        color: $color-menu;
      }
    }
  }
}

.navbar-toggler-icon {
  background-color: $color-menu;
}
