.search-input {
  height: 40px;
  border-radius: 30px;
  padding-left: 35px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  top: 21%;
  left: 25px;
  transform: translateY(-40%);
  color: #888;
}