@import 'funciones';
@import 'variables';
@import 'header';
@import 'search';
@import 'acciones';
@import 'registro';
@import 'mis-viajes';
@import 'login';
@import 'saldo';
@import 'cargar-kms';
@import 'inicio';

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Parkinsans', sans-serif;
  background-image: linear-gradient(to bottom, $color-fondo 65%, #2e4d6f);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
    section {
      p {
        background-color: $body-color;
      }

      article {
        text-align: center;
      }

      span {
        color: azure;
        margin: 200px;
      }
    }
  }
  footer {
    background-color: #2e4d6f;
    color: white;
    padding: 20px 0;
  }
}

h1 {
  @include titulos(white, center, 400, 3rem);
}

@media (min-width: 570px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  @include titulos(white, center, 400, 1rem);
}

h3 {
  @include titulos(white, left, 400, 0.7rem);
}
