@import 'funciones';
@import 'variables';
@import 'header';
@import 'search';
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Parkinsans', sans-serif;
  background-image: linear-gradient(to bottom, $color-fondo 65%, #2e4d6f);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
    section {
      p {
        background-color: $body-color;
      }

      article {
        text-align: center;
      }

      span {
        color: azure;
        margin: 200px;
      }
    }
  }
  footer {
    background-color: #2e4d6f;
    color: white;
    padding: 20px 0;
  }
}

h1 {
  @include titulos(white, center, 400, 2rem);
}

h2 {
  @include titulos(white, center, 400, 1rem);
}

h3 {
  @include titulos(white, left, 400, 0.7rem);
}

.acciones {
  text-align: center;
  a {
    color: $body-color;
  }
}

.form-registro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  input {
    width: 300px;
    margin: 0 auto;
  }
}

.lista-viajes {
  color: orangered;
  background-color: burlywood;
  width: 500px;
  margin: 0 auto;
}

.card {
  @include border-radius(20px);
}

.card-body {
  background-color: $body-color;
  @include border-radius(20px);
}

.col-form-label {
  color: $body-color;
}

.form-control.form-control-login {
  @include border-radius(5px);
  color: #3a3b45;
  font-size: 0.9rem;
  padding: 0.8rem;
  margin-bottom: 5px;
}

.login-btn {
  align-items: center;
  @include border-radius(50px);
  color: #fff;
  display: flex;
  line-height: 32px;
  margin: 15px 0;
  padding: 0.4rem;
  position: relative;
}

.login-btn:hover {
  box-shadow: 0px 0px 5px #999;
  color: white;
}

.login-btn.acciones {
  background-color: $body-color;
  width: 200px;
}

.btn-info {
  background-color: $body-color !important;
  color: black !important;
}

.btn-info:hover {
  background-color: $color-fondo !important;
}

.counter {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
}

.counter.animate {
  transform: scale(1.2);
  color: #007bff;
}

.saldokms {
  color: white;
  opacity: 0;
  animation: saldokms_animation 5s infinite;
}

@keyframes saldokms_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
